<div>
    <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">账号管理
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="add()"><i class="fa fa-plus"></i>新增
            </button>
        </h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled"
              ng-submit="submit()">
            <div ng-repeat="act in list">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button ng-click="del($index) " class="btn m-b-xs btn-sm btn-success btn-addon"><i
                                class="fa fa-minus pull-right"></i>删除
                        </button>
                        <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-circle"></i>重置密码</button>
                    </div>
                    <div class="panel-body">
                        <input type="hidden" ng-model="act.accountId"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="act.accountName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-left">角色授权</label>
                            <div class="col-sm-9">
                                <ui-select multiple ng-model="act.userinfoAccountRoleList" theme="bootstrap"
                                           ng-disabled="disabled">
                                    <ui-select-match>
                                        {{$item.roleName}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in (roleList | filter: $select.search) track by item.id">
                                        <span ng-bind="item.roleName"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" ng-click="ok()">提交</button>
    </div>
</div>